<% wrap_layout :layout do %>
    <section class="work-piece">
        <div class="work-piece-header">
            <div class="container">
                <div class="work-piece-title">
                    <%= current_page.data.title %>
                </div>
                <div class="description">
                    <%= current_page.data.description %>

                    <a class="website" href="http://<%= current_page.data.url %>" title="<%= current_page.data.title %>" target="_blank">
                        <%= current_page.data.url %>
                    </a>
                </div>
                <div class="role">
                    <strong>Scope of Work</strong> <%= current_page.data.roles %>
                </div>
            </div>
        </div>
        <a href="/#work" class="back headroom">
            <img src="/images/icons/close.jpg">
        </a>
        <%= yield %>
    </section>


    <div class="work-piece-footer">
        <div class="container">
            <%= current_page.data.next %>

            <a class="work-nav-back" href="/#work" title="Back to work">
                Back to work
            </a>

            <%= current_page.data.prev %>
        </div>
    </div>


<% end %>
